{% extends "base.html" %}
{% block title %}SorghumBase Feedback{% endblock %}
{% block body_property %}class="sticky-footer-page"{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}'
            style='background-image: url("{{banner_media.s.source_url}}")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Feedback</h1>

             </div>
        </div>
    </div>
</div><!--page title end-->

<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-8  mr-auto ml-auto my-5'>
            <div id="sorghumbase-feedback-off">
                <iframe src="https://forms.monday.com/forms/embed/afd004c9495060caf0f1313de599b563?r=use1"
                        width="100%" height="600"
                        style="border: 0; box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.25);"></iframe>
            </div>
        </div>
    </div>
</div>


{% endblock %}
