<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to Sorghumbase</title>
    <!-- Plugins CSS -->
    <link href="/static/assan/classic-template/css/plugins/plugins.css" rel="stylesheet">
    <link href="/static/assan/classic-template/css/style.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1624628-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-1624628-14');
    </script>
</head>

<body data-spy="scroll" data-darget=".navbar-seconday">
<div id="preloader">
    <div id="preloader-inner"></div>
</div><!--/preloader-->


<div class="fullscreen bg-parallax parallax-overlay" data-jarallax-video="https://www.youtube.com/watch?v=jGwpLYqZbLc"
     data-jarallax-original-styles="null">
    <div class="d-flex align-items-center text-center particle-content comingSoon">
        <div class="container">
            <div class="row">
                <div class=" col-md-12">
                    <h3 class="text-uppercase pt30">Coming Soon...</h3>
                    <p class="lead">Our website is currently under construction.</p>
                    {% if subscribed %}
		    <p class="lead">An email has been sent from sorghum-community-request@sorghumbase.org with instructions to confirm your subscription.</p>
		    <p class="lead pt10">Check your Junk/Spam folder</p>
                    {% elif error %}
                    <p class="error">There was a problem subscribing: {{error}}</p>
                    {% else %}
                    <form id="widget-subscribe-form" action="/" role="form" method="post" class="mb0">
                        <div class="input-group input-group-lg">
                            <input type="email" name="widget-subscribe-form-email" class="form-control required"
                                   placeholder="Enter your Email">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </span>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div><!--page title end-->


<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="/static/assan/classic-template/js/plugins/plugins.js"></script>
<script src="/static/assan/classic-template/js/assan.custom.js"></script>
</body>
</html>
