{% extends "base.html" %}
{% block page_title %}SorghumBase{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}'
     style='background-image: url("{{banner_media.s.source_url}}");background-position:top center;'>
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class=" col-md-12">-->
    <!--                <h1 class="text-uppercase">{{paper.s.title}}</h1>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div><!--page title end-->

<div class="container pt90 ">
    <div id="grid" class="row my-shuffle-container">
        <div id="{{paper.s.paper_title}}" class="col-lg-12 col-md-6 mb50 shuffle-item" data-groups="{{paper.s.kwl}}">
            <h4 class="mb0">{{ paper.s.title | safe}}</h4>
            <p><em>{{ paper.s.paper_authors | safe }}</em></p>
            <h6><b>Published: </b>{{(paper.s.publication_date|str2datetime).strftime('%-d %B %Y')}}
                {% if paper.s.journal %}
                in <em>{{paper.s.journal}}</em>
                {% endif %}
            </h6>
            {% if paper.s.keywords %}
            <h6><b>Keywords: </b>{{paper.s.keywords}}</h6>
            {% endif %}
            {% if paper.s.pubmed_id %}
            <h6><b>Pubmed ID: </b><a style="color:#9F3D34" target=none
                                     href="https://pubmed.ncbi.nlm.nih.gov/{{paper.s.pubmed_id}}">{{paper.s.pubmed_id}}</a>
            </h6>
            {% endif %}
            {% if paper.s.doi %}
            <h6><b>DOI: </b><a style="color:#9F3D34" target=none
                               href="https://doi.org/{{paper.s.doi}}">{{paper.s.doi}}</a></h6>
            {% else %}
            <a style="color:#9F3D34" href="{{paper.s.source_url}}"><h6 class="masonry-title mb1">View full paper at source</h6></a>

            {% endif %}
            <div class="card mb10">
                <div class="card-header" role="tab" id="posts">
                    <h5 class="mb-0">
                        Abstract
                    </h5>
                </div>
                <div class="card-body">
                    <p>{{ paper.s.abstract | safe }}</p>
                </div>
            </div>
            {% if paper.s.posts %}
            <div class="card mb10">
                <div class="card-header" role="tab" id="posts">
                    <h5 class="mb-0">
                        Related Posts
                    </h5>
                </div>
                <div class="card-body">
                    {% for post in paper.s.posts %}
                    <h6 class="masonry-title mb1"><a style="color:#9F3D34" href="/post/{{post|replace(" ", "-")}}">
                    {{ post }}
                    </a></h6>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if paper.s.funding %}
            <div class="card mb10">
                <div class="card-header" role="tab" id="funds">
                    <h5 class="mb-0">
                        Funding
                    </h5>
                </div>
                <div class="card-body">
                    {% for funder in paper.s.funding|sort(attribute="grant_id")|sort(attribute="program")|sort(attribute="agency") %}
                    <h6 class="masonry-title mb1">{{ funder.agency }}
                        {% if funder.program %}
                        - {{ funder.program }}
                        {% endif %}
                        {% if funder.link %}
                        <a style="color:#9F3D34" href="{{funder.link}}">{{ funder.grant_id }}</a>
                        {% else %}
                        {{ funder.grant_id }}
                        {% endif %}
                    </h6>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
