{% extends "base.html" %}
{% block page_title %}SorghumBase - People{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("{{banner_media.s.source_url}}");background-position:top center;'>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="text-uppercase">People</h1>
      </div>
    </div>
  </div>
</div>

{# The team / SUWG / former-team card grids are rendered by the PeopleList
   react component (see search_app/src/components/peopleList.js). It fetches
   /api/people once and caches the payload in money-clip for 24 hours. #}
<div id="sb-people-list"></div>

{% endblock %}
