{% extends "base.html" %}
{% block page_title %}SorghumBase Post{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}'
     style='background-image: url("{{banner_url}}")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Sorghumbase Articles</h1>
            </div>
        </div>
    </div>
</div>

<div id="sb-post" data-slug="{{slug}}"></div>

{% endblock %}
