{% extends "base.html" %}
{% block page_title %}SorghumBase Blog - {{categories}}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{{ banner_media.s.source_url}}")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>{% if categories == "researchnote" %}
                  Research notes
                  {% else %}
                  {{categories}}
                  {% endif %}
                </h1>

             </div>
        </div>
    </div>
</div><!--page title end-->
<div class="container pt90 ">
<div class="container mb30">
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 mb30">
            <div class="entry-card">
                <a href="/post/{{post.s.slug}}" class="entry-thumb">
                    {% if post.featured_media is not none %}
                    <img src="{{post.featured_media.s.source_url}}" alt="" class="img-fluid mb20">
                    {% endif %}
                    <span class="thumb-hover ti-back-right"></span>
                </a><!--/entry thumb-->
                <div class="entry-content">
                    <h5 class="text-capitalize">{{post.s.title | safe}}</h5>

                    <ul class="post-meta list-inline" style="font-size:smaller">
                        <li class="list-inline-item">
                            <i class="fa fa-user-circle-o"></i>{{ authors[post.author.s.name] | safe }}
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar-o"></i>{{(post.s.date|str2datetime).strftime('%d %B %Y')}}
                        </li>
                    </ul>
                    <p>
                        {{post.s.excerpt | safe}}
                    </p>
                    <div class="text-right">
                        <a href="/post/{{post.s.slug}}" class="btn-link btn">Read More</a>
                    </div>
                </div><!--/entry content-->
            </div>
        </div>
        {% endfor %}
    </div>
    {% if post_tally > n_per_page %}
    <nav aria-label="Page navigation example" class="mb70">
        <ul class="pagination pagination justify-content-end">
            <li class="page-item "><a class="page-link" href="{{request.path}}?{%if (categories != 'posts') %}categories={{categories}}&{%endif%}page={{previous_page}}">Previous</a></li>
            {% for i in range((post_tally/n_per_page)|round(method='ceil')|int) %}
            {% if i == (current_page - 1) %}
            <li class="page-item active"><a class="page-link" href="">{{i + 1}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{request.path}}?{%if (categories != 'posts') %}categories={{categories}}&{%endif%}page={{i+1}}">{{i + 1}}</a></li>
            {% endif %}
            {% endfor %}
            <li class="page-item"><a class="page-link" href="{{request.path}}?{%if (categories != 'posts') %}categories={{categories}}&{%endif%}page={{next_page}}">Next</a></li>
        </ul>
    </nav>
    {% endif %}
</div>
</div>
{% endblock %}
