{% extends "base.html" %}
{% block page_title %}SorghumBase - Publications{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("{{banner_media.s.source_url}}");background-position:top center;'>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="text-uppercase">Publications</h1>

      </div>
    </div>
  </div>
</div><!--page title end-->

<div id="sorghumbase-publications">it goes here</div>

{% endblock %}
