{% extends "base.html" %}
{% block page_title %}SorghumBase - Publications{% endblock %}
{% block additional_header %}
{% endblock %}
{% block content %}

<div class="page-titles-img title-space-sm parallax-overlay bg-parallax" data-jarallax='{"speed": 0.2}'
     style='background-image: url("{{banner_media.s.source_url}}");background-position:top center;'>
    <div class="container">
        <div class="row">
            <div class=" col-md-12 ml-auto mr-auto">
                <h1 class="text-uppercase">Publications</h1>
            </div>
        </div>
    </div>
</div><!--page title end-->
<div class="container pt20">
    {% if n_pages > 1 %}
    <div class="row">
        <div class="col-lg-12 col-md-8">
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{pagination_url}}&page={{page-1}}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{pagination_url}}&page={{page-1}}">{{page-1}}</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{page}}</a>
                </li>
                {% if page < n_pages %}
                <li class="page-item">
                    <a class="page-link" href="{{pagination_url}}&page={{page+1}}">{{page+1}}</a>
                </li>
                {% if page < n_pages - 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{pagination_url}}&page={{page+2}}">{{page+2}}</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{{pagination_url}}&page={{page+1}}">Next</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <h4>{{n_papers}} Papers</h4>
            <form method="get">
            <h4>Keywords</h4>
            <ul>
                {% for tag in tags %}
                {% if loop.index - 1 < keywords_limit %}
                <li>
                    <label class="form-check-label">
                        {% if selected[tag] == 1 %}
                        <input type="checkbox" class="form-check-input" name="tag" value={{tag}} checked>
                        {% else %}
                        <input type="checkbox" class="form-check-input" name="tag" value={{tag}}>
                        {% endif %}
                        {{tagname[tag]}} ({{tagfreq[tag]}})
                    </label>
                </li>
                {% endif %}
                {% if loop.index - 1 == keywords_limit %}
                <a href="{{kw_url}}&max_keywords={{keywords_limit + 10}}">show more</a>
                {% endif %}
                {% endfor %}
            </ul>
                <input type="submit" value="Update">
            </form>
        </div>
        <div class="col-lg-10 col-md-6">
            <div>
                {% for paper in papers %}
                <div id="{{paper.s.paper_title}}" class="col-lg-12 col-md-6 mb20 pt10"
                     style="border-bottom:solid thin grey;">
                    <h4 class="mb0">{{ paper.s.title | safe}}</h4>
                    <p><em>{{ paper.s.paper_authors | safe }}</em></p>
                    <h6><b>Published: </b>{{(paper.s.publication_date|str2datetime).strftime('%-d %B %Y')}}
                        {% if paper.s.journal %}
                        in <em>{{paper.s.journal}}</em>
                        {% endif %}
                    </h6>
                    {% if paper.s.tags %}
                    <h6><b>Keywords: </b>
                        <ul class="comma-separated">
                        {% for tag in paper.s.tags %}
                            {% if tagname[tag] %}
                            <li><a style="color:#9F3D34" href="publications?tag={{tag}}">{{tagname[tag]}}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </h6>
                    {% endif %}
                    {% if paper.s.pubmed_id %}
                    <h6><b>Pubmed ID: </b><a style="color:#9F3D34" target=none
                                            href="https://pubmed.ncbi.nlm.nih.gov/{{paper.s.pubmed_id}}">{{paper.s.pubmed_id}}</a>
                    </h6>
                    {% endif %}
                    {% if paper.s.doi %}
                    <h6><b>DOI: </b><a style="color:#9F3D34" target=none
                                      href="https://doi.org/{{paper.s.doi}}">{{paper.s.doi}}</a></h6>
                    {% endif %}
                    <p><a href="/paper/{{paper.s.slug}}">Details</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
